<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="p-6 main w-full min-h-screen bg-zinc-900 text-white">
        <a class="text-blue-500 inline-block mb-10" href="/">< Go back</a>
        <form action="/editdata" method="post">
            <input name="name" class="rounded-lg block w-full px-5 py-2 bg-zinc-800" type="text" placeholder="Enter new file name" value=<%= filename%>>

            <textarea name="updatedData" class="rounded-lg block w-full mt-2 px-5 py-2 bg-zinc-800"
                placeholder="Write description" ><%=filedata %></textarea>
            <input value="save" class="mt-2 bg-blue-600 px-5 py-2 rounded-lg" type="submit">
        </form>
    </div>
</body>

</html>