<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white">
        <div class="form p-10 ">
            <form action="/create" method="post">
                <input required name="title" class="rounded-lg block w-full px-5 py-2 bg-zinc-800" type="text" placeholder="title goes here">
                <textarea name="details" class="rounded-lg block w-full mt-2 px-5 py-2 bg-zinc-800"
                    placeholder="Write description"></textarea>
                <input class="mt-2 bg-blue-600 px-5 py-2 rounded-lg" type="submit" value="Create Task">
            </form>
        </div>
        <div class="tasks p-10 flex gap-4 flex-wrap">
            <% if (files.length > 0) { %>
                <% files.forEach(function(val) { %>
                    <div class="rounded-lg block mt-2 px-3 w-72 py-4 bg-zinc-800">
                        <div class="flex flex-wrap justify-between">
                            <h1 class="text-3xl tacking-tighter"><%= val.slice(0, -4)%></h1>
                        <a class="text-blue-500 inline-block mt-3"  href="/edit/<%=val%>">edit</a> 
                        </div>
                        
                        <div class="flex flex-wrap justify-between">
                            <a class="text-blue-500 inline-block mt-3" href="/file/<%= val%>">Read more</a>
                            <a class="text-blue-500 inline-block mt-3"  href="/editdata/<%=val%>">edit</a> 
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <h3 class="text-zinc-600">No tasks found</h3>
            <% } %>

        </div>
    </div>
</body>

</html>